<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>О нас</title>
</head>
<body>
  <header>
    <h1>О нас</h1>
  </header>
  <section class="team">
  
  <div>
	<h2>Для чего этот сайт</h2>
	<p>Данный сайт является показательным, для оценки умения поднимать серверную часть сайта, а так - же умение работать в комманде.</p>
	
  </div>
  
  
    <h2>Кто создал</h2>
    <div class="developer">
      <h3></h3>
      <p>Команда энтузиастов, состоящих из fronten и backend разработчика.</p>
    </div>
  </section>
  <section class="portfolio">
    <h2>Портфолио backend разработчика</h2>

    <ul>
      <li><a href="https://github.com/ded2322">Github</a></li>
      <li><a href="https://www.codewars.com/users/deb2322">Codewars</a></li>
    </ul>
  </section>
</body>
</html>